<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
  </head>
  <body>
    <h1>Tasks</h1>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form action="/tasks" method="POST">
      <input type="text" name="task_name" placeholder="Enter a task" />
      <input
        type="number"
        name="task_duration"
        placeholder="Enter duration in minutes"
      />
      <button type="submit">Add Task</button>
    </form>

    <ul>
      {% for task in tasks %}
      <li>
        {{ task.name }} (Duration: {{ task.duration }} minutes)
        <form
          action="/tasks/delete/{{ task.id }}"
          method="POST"
          style="display: inline;"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      {% endfor %}
    </ul>
    <h1>{{status}}</h1>
  </body>
</html>
